<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
   
    
   
<section class="wrapper">
  <div class="sidebar">
    <div class="logo-container w-100">
      <img src="logo.png" class="w-100" alt="Logo">
    </div>
    <div class="button-container">
      <div class="icons_words-one mb-3">
        <button class="active" (click)="onButtonClick('All')">
          <img src="download.png" alt="download"> <span>Meals</span>
        </button>
      </div>
      <div class="icons_words-two mb-3">
        <button>
          <img src="download.png" alt="download"> <span>Ingredients</span>
        </button>
      </div>
      <div class="icons_words-three mb-3">
        <button>
          <img src="download.png" alt="download"> <span>Area</span>
        </button>
      </div>
    </div>
  </div>
  
  <div class="h">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header"></div>
      <div class="offcanvas-body">
        <div class="logo-container">
          <img src="logo.png" alt="Logo">
        </div>
        <div class="button-container">
          <div class="icons_words-one mb-3">
            <button class="active" (click)="onButtonClick('All')">
              <img src="download.png" alt="download"> <span>Meals</span>
            </button>
          </div>
          <div class="icons_words-two mb-3">
            <button class="">
              <img src="download.png" alt="download"> <span>Ingredients</span>
            </button>
          </div>
          <div class="icons_words-three mb-3">
            <button>
              <img src="download.png" alt="download"> <span>Area</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <h1>Learn, Cook, Eat Your Food</h1>
    
    <div class="category-buttons desktop-view border-bottom">
      <button *ngFor="let category of categories" [class.active]="selectedCategory === category" (click)="onButtonClick(category)">
        {{ category }}
      </button>
    </div>
    
    <!-- Mobile Select -->
    <div class="category-select mobile-view">
      <select (change)="onSelectChange($event)">
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row g-5">
      <div *ngFor="let meal of datalist" class="col-md-6 col-lg-4 col-xl-3">
        <div class="card-wrapper">
          <div class="cover bg-white">
            <div class="image-container">
              <img [src]="meal.strMealThumb" [alt]="meal.strMeal">
            </div>
            <div class="card-content">
              <h3 class="text-center">{{meal.strMeal}}</h3>
              <p class="text-center">
                <span class="me-2"><i class="fa-solid fa-earth-americas"></i></span>
                {{meal.strArea}}
              </p>
              <div class="button-wrapper">
                <button class="view-btn">View Recipe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="logo.png" alt="logo">
        <span class="text">Recipe</span>
      </div>
      <div class="col-sm-6">
        <div class="layer">
          <span class="text">Route</span>
        </div>
      </div>
      <hr class="mt-4">
      <div class="col-sm-12">
        <div class="copy">
          <p>© 2025 <a href="https://www.facebook.com/profile.php?id=100090963460323">Nagy Osama™</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
